<% layout("/layouts/boilerplate.ejs") %>
<body>

    <div class="row mt-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 ">
        <% for (let data of allListings){ %>
            <a href="/listings/<%=data._id%>" class="listing-link mb-1">    
            <div class="card listing-card col" style="width: 16rem;">
                <img class="card-img-top" src="<%=data.image.url%>" alt="Linting Image">
                <div class="card-img-overlay"></div>
                <div class="card-body listing-card-body">
                  <p class="card-text">
                    <b><%=data.title%></b> <br>
                    &#8377;<%=data.price.toLocaleString("en-IN")%>/night
                  </p>
                </div>
            </div>
            </a>
            <% } %>
    </div>

</body>